# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.hst
out
gen
.idea/
controller/__pycache__/
model/__pycache__/
view/__pycache__/
__pycache__/
